main {
    background-color: #fcfcfc;
    /* display: flex; */
}

.row {
    display: flex;
}
.product {
    width: 228px;
    /* background-color: red; */
    padding: 5px;
    margin: 10px;
    align-items: center;
    /* display: flex; */
}

.product p {
    display: -webkit-box;
    -webkit-line-clamp: 2;  /* 限制最多显示3行 */
    -webkit-box-orient: vertical;  /* 垂直排列 */
    overflow: hidden;  /* 超出内容隐藏 */
    text-overflow: ellipsis;  /* 超出部分显示省略号 */
    white-space: normal;  /* 允许换行 */
    word-wrap: break-word;  /* 自动换行 */

    line-clamp: 2;                     /* 标准写法 */
    box-orient: vertical;              /* 标准写法 */
}

.product h4 {
    color: red;
    font-weight: bolder;
}